body {
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.paragraphCenter {
    text-align: center;
}